@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Parkinsans", serif;
    color: white;
    overflow-x: hidden;
}

.text-card {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-left: -25px;
    border-radius: 10px;
    text-align: left;
    width: 350px;
    box-shadow: transparent;
    transition: transform 0.3s, box-shadow 0.3s;
}